<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <th:block th:insert="fragments/general::stylesheets"/>
    <title th:text="#{ui.page.dashboard.title}">Dashboard</title>
</head>
<body>
<!-- ============================================================== -->
<!--                       dashbaord Wrapper                        -->
<!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <!-- ============================================================== -->
        <!--                       Sidebar                                  -->
        <!-- ============================================================== -->
         <th:block th:insert="fragments/general::side-menu"/>
        <!-- ============================================================== -->
        <!--                       End Sidebar                              -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!--                       Main panel                               -->
        <!-- ============================================================== -->
        <div class="main-panel">
            <!-- ============================================================== -->
            <!--                       Header                                   -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!--                       End Header                               -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!--                       Content                                  -->
            <!-- ============================================================== -->
            <div class="content">
                <div class="container-fluid">

                </div>
            </div>
            <!-- ============================================================== -->
            <!--                       End Content                              -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!--                       Footer                                   -->
            <!-- ============================================================== -->
            <th:block th:insert="fragments/general::footer"/>
            <!-- ============================================================== -->
            <!--                       End Footer                               -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!--                      End Main panel                            -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!--                       End dashbaord Wrapper                    -->
    <!-- ============================================================== -->
    <th:block th:insert="fragments/general::scripts"/>
</body>
</html>