<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <th:block th:insert="fragments/general::stylesheets"/>
    <title th:text="#{ui.page.dashboard.title}">Dashboard</title>
</head>
<body>
    <div class="page dashboard-page">
        <div class="container-fluid wrapper">
            <th:block th:insert="fragments/general::dashboard-header"/>
            <div class="content row">
                <div class="col-md-2 sidebar-column">
                    <th:block th:insert="fragments/general::sidebar"/>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="fragments/general::footer"/>
    <th:block th:insert="fragments/general::scripts"/>
</body>
</html>