.header{
    background-color: #43425D;
}
.panel-title{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 100;
}
.toggler-icon{
    color:#ffffff;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,.5);
}
/*----------------------
  Navbar
-----------------------*/

#notifications.nav-link .fa-bell{
    color: white;
    font-size: 0.9rem;
    display: inline-block;
}



#notifications.nav-link .badge{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    font-weight: 400;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#messages-notifications.nav-link .fa-envelope{
    color:white;
    font-size: 0.8rem;
    display: inline-block;
}

#messages-notifications.nav-link .badge{
    font-weight: 400;
    border-radius: 0;
    position: absolute;
    top:0;
    right:0;
}

#languages.nav-link span.d-none{
    margin-left: .2rem;
    vertical-align: middle;
    color: white;
    font-size: 0.85rem;
}

#languages{
    color:white;
    font-size: 0.85rem;
}

.logout{
    color:white;
    font-size: 0.85rem;
}

.dropdown-menu.show{
    right: 0;
    left: auto;
    float: left;
    margin-top: 16px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    padding: 1rem;
}

.dropdown-menu .dropdown-item{
    color: #666;
    padding: 10px;

}

.dropdown-menu .dropdown-item.all-notifications{
    font-size: 0.9rem;
    font-weight: 200;
}

.msg-body .h5{
    font-size: 1rem;
}

.msg-body span{
    font-size: 0.85rem;
    color:#777;
    font-weight: 300;
    display: block;
}
.msg-body small{
    font-size: 0.75rem;
    font-weight: 300;
    color: #999;
}

.msg-profile{

}

.navbar-wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    width:100%;
}