
.dashboard-page{
    width:100%!important;
    min-height: auto;
}

.header{
    background-color: #43425D;
    padding: 0;
}

.navbar-brand .brand-logo-image{
    width: 8rem;
    border-radius: 0.4rem;
}

.menu-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
    margin-left: .5rem;
    padding-left: .2rem;
}
.sidebar-column{
    padding-left: 0;
    padding-right: 0;
}
#navbar{
    position: relative;
    top:-2.8rem;
}
aside.navbar{
    background-color: #43425D;
    padding-left: 0;
    border-top: 2px solid #9160A6;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    height: 100%;
    max-width: 100%;
}

aside .nav-link{
    color: white;
    font-size: 1.05rem;
    font-weight: 200;
}

#navbar ul, #navbar li{
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 2.1875rem;
    cursor: pointer;
}


#navbar ul :not(collapsed) .arrow:before,
#navbar li :not(collapsed) .arrow:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f13a";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
    font-weight: 900;
}


#navbar ul .active,
#navbar li .active {
    border-left: 3px solid #9160A6;
    background-color: #4f5b69;
}
#navbar ul .sub-menu li.active,
#navbar li .sub-menu li.active {
    color: #9160A6;
}
#navbar ul .sub-menu li.active a,
#navbar li .sub-menu li.active a {
    color: #9160A6;
}
#navbar ul .sub-menu li,
#navbar li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
#navbar ul .sub-menu li:hover,
#navbar li .sub-menu li:hover {
    background-color: #020203;
}
#navbar ul .sub-menu li:before,
#navbar li .sub-menu li:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;
}

#navbar li {
    padding-left: 0px;
    border-left: 3px solid #84a3c6;
    border-bottom: 1px solid #23282e;
}
#navbar li a {
    text-decoration: none;
    color: #e1ffff;
}
#navbar li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
#navbar li:hover {
    border-left: 3px solid #9160A6;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#navbar .navbar-nav{
    width:100%;
}

.sub-menu{
    font-weight: 200;
}

.panel-title{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 100;
}
.toggler-icon{
    color:#ffffff;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,.5);
}
/*----------------------
  Navbar
-----------------------*/
.notification{
    align-items: center;
}
#notifications.nav-link .fa-bell{
    color: white;
    font-size: 0.9rem;
    display: inline-block;
}



#notifications.nav-link .badge{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    font-weight: 400;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.notification-content{
    font-size: .8rem;
    margin-right: .5rem;
}

.notification-time small{
    font-size: 0.75rem;
    color: #999;
}

.all-notifications .all-notifications-icon{
    margin-right:0.625rem;
}

#messages-notifications.nav-link .fa-envelope{
    color:white;
    font-size: 0.8rem;
    display: inline-block;
}

#messages-notifications.nav-link .badge{
    font-weight: 400;
    border-radius: 0;
    position: absolute;
    top:0;
    right:0;
}

#languages.nav-link span.d-none{
    margin-left: .2rem;
    vertical-align: middle;
    color: white;
    font-size: 0.85rem;
}

#languages{
    color:white;
    font-size: 0.85rem;
}

.logout{
    color:white;
    font-size: 0.85rem;
}

.dropdown-menu.show{
    right: 0;
    left: auto;
    float: left;
    margin-top: 16px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    padding: 0 1rem;
}

.dropdown-menu .dropdown-item{
    color: #666;
    padding: 10px;

}

.dropdown-menu .dropdown-item.all-notifications{
    font-size: 0.9rem;
    font-weight: 200;
}

.msg-body .h5{
    font-size: 1rem;
}

.msg-body span{
    font-size: 0.85rem;
    color:#777;
    font-weight: 300;
    display: block;
}
.msg-body small{
    font-size: 0.75rem;
    font-weight: 300;
    color: #999;
}

.msg-profile{

}

.navbar-wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    width:100%;
}

/** action plan tree ***/
.action-plan-panel{
    background-color: #f4f7fa;
}

.action-plan-selector-wrapper{
    background: #ffffff;
}

.action-plan-selector-holder .action-plan-selector-holder{
    padding: 15px 0;
    font-size: 0.85em;
    font-weight: 300;
    color: #999;
    margin-bottom: 0;
}

.selector-row{
    padding-top: 0.75rem;
    align-items: center;
}
.selector-label{
    font-size: 1.1rem;
    font-weight: 300;
}

.action-plan-selector{
    width: 60%;
    height: 2rem;
    padding: .45rem .75rem;
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 300;
}

.card.action-plan-synthesis-holder,
.card.action-plan-tree-holder{
    height:34rem;
}

h5.action-plan-synthesis-text{
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 500;
    color: #a9afbbd1;
}

/******** tree view ***/

#action-plan-tree{
    overflow-y: auto;
    font-size: 0.85rem;
    font-weight: 300;
}

div#action-plan-tree .jqtree_common {
    position: relative;
}

div#action-plan-tree ul li{
    margin: 0;
    padding-left: 20px;
    line-height: 2rem;
    position: relative;
}
div#action-plan-tree ul li::before, div#action-plan-tree ul li::after {
    content: '';
    position: absolute;
    left: 0;
}

/* horizontal line on inner list items */
div#action-plan-tree ul li::before {
    border-top: 1px solid #999;
    top: 18px;
    width: 20px;
    margin-left: -5px;
}



/* vertical line on list items */
div#action-plan-tree ul li::after {
    border-left: 1px solid #333;
    height: 100%;
    top: -15px;
    margin-left:-6px;
}

div#action-plan-tree>ul>li::before {
    border-top: none;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover,
#action-plan-tree .jqtree-element.active
{
    background-color: #9160A6;
    background: -webkit-gradient(linear, left top, left bottom, from(#9160A6), to(#925EA8));
    color: white;
    text-shadow: none;
    border-radius: .2rem;
}



.jqtree-element .action-plan-element-controls{
    display: none;
}
.jqtree-element .action-plan-element-controls a{
    color:#fff;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element > .jqtree-title,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover > .jqtree-title,
#action-plan-tree .jqtree-element.active:hover > .jqtree-title,
#action-plan-tree .jqtree-element.active > .jqtree-title{
    color:#fff;
}

#action-plan-tree .jqtree-element:hover > .jqtree-title{
    color:#9160A6;
}

