.login-page{
    width:100%!important;
    background: #43425D;
    min-height: calc(100vh - 2.2rem);;
    padding-bottom: 0;
}

.login-logo-container{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

img.logo-athenea{
    border-radius: 0.75rem;
    width:14rem;
}

.phrase-container{
    color:#ffffff;
    text-align: center;
}

.phrase-container .phrase{
    font-weight: 300;
}

.login-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.card-header, .card-footer{
    text-align: center;
    color: #9160A6;

}

.input-group{
    margin-top: 2rem;
    margin-bottom:2.5rem;
}

label.form-check-label{
    color: #9160A6;
}

.password-forgoten  a{
    color: #9160A6;
    display: inline-block;
    padding-left: 4rem;
}

#login-submit{
    background-color: #9160A6;
    border-color: #9160A6;
}

.login-button-group{
    margin-top: 2rem;
}

/**
.login-content{
    background: #43425D;
}
.login-card{
    width:43.625rem;
}

.login-logo-container{
    width:43.625rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

img.logo-athenea{
    width:15.625rem;
    border-radius: 0.75rem;
}

.content-wrapper{
    width:44.375rem;
    padding-bottom: 3.5rem;
}

.login-card{
    height: 28.125rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.phrase-container{
    color:#ffffff;
    text-align: center;
}

.phrase-container .phrase{
    font-weight: 300;
}

.card-header{
    text-align: center;
    color: #9160A6;

}

.input-group{
    margin-top: 2rem;
    margin-bottom:2.5rem;
}



.password-forgoten  a{
    color: #9160A6;
    display: inline-block;
    padding-left: 4rem;
}

.center-elements-vertical{
    display: flex;
    align-items: baseline;
}

#login-submit{
    background-color: #9160A6;
    border-color: #9160A6;
}

label.form-check-label{
    color: #9160A6;
}
.login-button-group{
    margin-top: 2rem;
}

.card-footer .signup-text{
    color:#9160A6;
}

*/